@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,600,900");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61e1d5b5bf598a10d4f1b1ea.61e1d5b7bf598a10d4f1b1ed.tzucl51.hcp.png");

@media (min-width: 1400px){
  .container{
    max-width:1440px;
  }
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  margin: auto;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}